<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard Try</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    .card{
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        font: 18px Arial, sans-serif;
        box-shadow:  4px 4px 4px #036a6e;
    }
</style>
</head>

<body style="background-color: #5bf0f5;">
    <center>
        <div class="card-deck" style="margin-top: 2%;width:80%;">
            <div class="card" style="height:200px;">
                <div class="card-body text-center">
                    <p class="card-text">Some text inside the first card</p>
                    <p class="card-text">Some more text to increase the height</p>
                    <p class="card-text">Some more text to increase the height</p>
                    <p class="card-text">Some more text to increase the height</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">Some text inside the second card</p>
                </div>
            </div>
        </div>
        <div class="card-deck" style="margin-top: 2%;width:80%;"    >
            <div class="card" style="height:200px;">
                <div class="card-body text-center">
                    <p class="card-text">Some text inside the third card</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">Some text inside the fourth card</p>
                </div>
            </div>
        </div>
        </div>
</body>

</html>