<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Need Help?</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- FONT ICONS -->
<!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="/public/images/logo.png" type="image/png" sizes="16x16">
<link rel="stylesheet" href="/public/css/user.css">
<!-- FONT-FAMILY -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
    .card{
        color:black;
    }
</style>
<body>
    
    <!-- Sidebar -->
    <nav class="sidenav">
        <ul class="nav flex-column pmd-sidebar-nav">
            <div class="mb-5">
                <a class="navbar-brand text-white ml-3" href="#">
                    <div class="text-center ml-n4"><strong><span
                                style="font-size:5vw; color:black">PC</span>Tech</strong></div>
                    <div class="text-center ml-5"><strong>Express</strong></div>

                </a>
            </div>
            <li class="nav-item stocks">
                <a class="nav-link" href="/employee/dashboard">
                    <span class="media-body"><i class="fa fa-columns mr-4"></i>Dashboard</span>
                </a>
            </li>

            <li class="nav-item stocks">
                <a class="nav-link" href="/employee/aboutUs">
                    <span class="media-body"><i class="fa fa-address-card"></i>&nbsp;&nbsp;&nbsp;About Us</span>

                </a>
            </li>

            <li class="nav-item sales">
                <a class="nav-link" href="/employee/products">
                    <span class="media-body"><i class="fa fa-product-hunt"></i>&nbsp;&nbsp;&nbsp;Products</span>
                </a>
            </li>
            <li class="nav-item supplier">
                <a class="nav-link" href="/employee/help">
                    <span class="media-body"><i class="fa fa-question-circle"></i>&nbsp;&nbsp;&nbsp;Help</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="col-sm-2" style="float: right;margin-right:-9%">
        <!-- <img class="mr-3 fa fa-user"alt="avatar"> -->
        <div class="media-body" id="admin" style="cursor: pointer;">
            <div class="pl-3">
                <i class="fa fa-user" style="font-size: 3vw;"></i>
            </div>
            <div class="admin">
                Admin
                <i class="fa fa-caret-down"></i>
            </div>
        </div>
        <div class="dropdown-content text-center" id="signOut" style="font-size: 1.2vw;float:left;">
            <a href="http://localhost:3000/employee">Sign out</a>
        </div>
    </div>
    <br><br>
    <hr>

     <!--Article-->
   <div class="container" style="margin-top:1in;margin-left:30%" >
  <div class="row">
    <div class="col">
    <div class="card" style="height:200px; border: 1px solid; padding: 10px; box-shadow: 5px 10px #888888;color:black">
  <div class="card-body">
  <h3><i class="fa fa-cog"></i>Privacy Settings</h3>
  <p>&nbsp;Take the Privacy Checkup, a step-by-srep guide that helps you choose your privacy seetings.</p>
  </div>
</div>
    </div>
    <div class="col"> 
    <div class="card" style="height:200px; border: 1px solid; padding: 10px; box-shadow: 5px 10px #888888;">
  <div class="card-body">
  <h3><i class="fa fa-user-cog"></i>Account Settings</h3>
  &nbsp;Forgot Password, Change Password, Verify Email Address, User Security.</p>
  </div>
</div>
    </div>
    </div>

    <div class="row"  style="margin-top:20px;">
    <div class="col">
    <div class="card" style="height:200px; border: 1px solid; padding: 10px; box-shadow: 5px 10px #888888;">
  <div class="card-body">
  <h3><i class="fa fa-sliders-h"></i>Security Issues Found</h3>
  <p>&nbsp; Protect these account now by resolving these issues. </p>
  </div>
</div>
    </div>
    <div class="col"> 
    <div class="card" style="height:200px; border: 1px solid; padding: 10px; box-shadow: 5px 10px #888888;">
  <div class="card-body">
  <h3><i class="fa fa-globe-asia"></i>Visit Our Site:</h3>
    <p>For more Information, Learn Inventory System at https://www.pctech-express-Inventory_System.com</p>
  </div>
</div>
    </div>
    </div>

  </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    
    //Tabs
    function openName(evt, tabName) {

      var i, content, tabs;
      content = document.getElementsByClassName("content");
      for (i = 0; i < content.length; i++) {
        content[i].style.display = "none";
      }
      tabs = document.getElementsByClassName("tabs");
      for (i = 0; i < tabs.length; i++) {
        tabs[i].className = tabs[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
  </script>

<script>
    $(document).ready(function () {
            $(".dropdown-content").hide();
            $("#admin").click(function () {
                $(".dropdown-content").toggle();
            })
        })
</script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>