<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FONT ICONS -->
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/public/images/logo.png" type="image/png" sizes="16x16">
    <!--Chart-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- FONT-FAMILY -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>PCTech Express Inventory System</title>
    <style>
        .sidenav {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: darksalmon;
            overflow-x: hidden;
            padding-top: 20px;
            margin-right: 20%;
        }
        
        .navbar-brand {
            font-size: 250%;
        }
        
        .nav-item a span {
            padding: 6px 8px 14px;
            text-decoration: none;
            font-size: 25px;
            color: #f8f7f7;
            display: block;
        }
        
        .nav-item a:hover {
            background-color: rgba(10, 10, 10, 0.623);
        }
        
        .bg-primary {
            margin-left: 18%;
        }
        a {
            color: #787880;
        }

        a:hover {
            color: #070708;
            text-decoration: none;
        }

        #signOut{
            background-color: #d3d6db;
            box-shadow: 2px 2px 2px #97989c;
            width: 70px;
            
        }
        #signOut:hover{
            background-color: #e1e7f0;
            box-shadow: 4px 4px 4px #97989c;
            
        }
    </style>
</head>

<body>
    <!-- Sidebar -->
    <nav class="sidenav">
        <ul class="nav flex-column pmd-sidebar-nav">
            <div class="mb-5">
                <a class="navbar-brand text-white ml-3" href="#">
                    <div class="text-center ml-n4"><strong><span style="font-size:5vw; color:black">PC</span>Tech</strong></div>
                    <div class="text-center ml-5"><strong>Express</strong></div>

                </a>
            </div>
            <li class="nav-item stocks">
                <a class="nav-link" href="/employee/dashboard">
                    <span class="media-body"><i class="fa fa-columns mr-4"></i>Dashboard</span>
                </a>
            </li>

            <li class="nav-item stocks">
                <a class="nav-link" href="about.php">
                    <span class="media-body"><i class="fa fa-address-card"></i>&nbsp;&nbsp;&nbsp;About Us</span>

                </a>
            </li>

            <li class="nav-item sales">
                <a class="nav-link" href="products.php">
                    <span class="media-body"><i class="fa fa-product-hunt"></i>&nbsp;&nbsp;&nbsp;Products</span>
                </a>
            </li>
            <li class="nav-item supplier">
                <a class="nav-link" href="help.php">
                    <span class="media-body"><i class="fa fa-question-circle"></i>&nbsp;&nbsp;&nbsp;Help</span>
                </a>
            </li>
        </ul>
    </nav>

    <div>

     <!--Header-->
        
<div class="main p-2" id="dashboard">
        <div class="navbar row">
            <div class="col-sm-2">
                <!-- <div>☰</div> -->
                <h3>Sales Report</h3>
            </div>
    <div class="col-sm-2" style="float: right;margin-right:-9%">
        <!-- <img class="mr-3 fa fa-user"alt="avatar"> -->
        <div class="media-body" id="admin" style="cursor: pointer;">
            <div class="pl-3">
                <i class="fa fa-user" style="font-size: 3vw;"></i>
            </div>
            <div class="admin">
                Admin
                <i class="fa fa-caret-down"></i>
            </div>
        </div>
        <div class="dropdown-content text-center" id="signOut" style="font-size: 1.2vw;float:left;">
            <a href="http://localhost:3000/employee" >Sign out</a>
        </div>
    </div>


        <!-- <div class = "graph">

        </div> -->
        <!--Sample layout-->
        <div class="container" style="margin-left:3in; margin-top:1in;">
            <div class="row">
                <div class="col-sm-5">
        <img src="images/lenovo-building.png" class="img-thumbnail" alt="Lenovo"><br>
                    
                 </div>
                <div class="col-sm-5">
        <img src="images/lenovo-building.png" class="img-thumbnail" alt="Lenovo"><br>
                     
                </div>
               
        </div>
    </div>
        




        <div class = "table" style="margin-left:3in; margin-top:1in;">
        <table id = "salesTable" border="1" style="width: 70%; border: 1px solid black; margin-left: 30px;">
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Genre</th>
                        </tr>
                    </table>
        </div>
    </div>



    <!--Chart-->
    <canvas id="myChart"></canvas>
       <script>
       var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [{
            barPercentage: 0.5,
            barThickness: 6,
            maxBarThickness: 8,
            minBarLength: 2,
            data: [10, 20, 30, 40, 50, 60, 70]
    }]
};,
    options: {
        scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                stacked: true
            }]
        }
    }
});
</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".dropdown-content").hide();

                $("#admin").click(function () {
                    $(".dropdown-content").toggle();
                })
                // var w = window.innerWidth;
                // console.log(w);
            });
        </script>
        </script>
</body>

</html>